<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type="text/css" href='../resources/css/main.css'/>
    <title>Document</title>

</head>

<body>

    <div class="header">
        <div id="header-title"><h2>Customer Schedule</h2></div>
        
        <nav id="header-menu">

            <a href="/html/">Home</a> 
            <a href="/css/">Sobre</a> 
            <a href="/js/">Tecnologias</a> 
            <a href="/jquery/">Contato</a>
            <a href="/jquery/">Entrar</a>

        </nav>

    </div>

</body>

</html>